@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

/*variables*/
$fuente1 : "barlow";
$fuente2 : "fraunces";

//reset 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  margin: 0 auto;
}


// colors
$whiteColor : white;
$media : #2C7566;
$footerNav : #2C7566;
$testimonial : #A7AAAD;
$testimonialText: #5B636D;
$names : #24303E;
$learnTxt : #808397;
$learnOne : #FAD400;
$learnTwo : #FE7766;
$photoHeader : #052C3B;
$photoTxt: #19536C;
$grapgicHeader : #24554A;
$graphicTxt : #3E7467;
