@import '_settings';
@import "_mixins";


.testimonials{
@include md {
  width: 110%;
  margin: 0 auto;
}

  .testimonials__header{
  font-family: $fuente2;
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 24.66px;
  text-align: center;
  color: $testimonial;
  margin-top: 160px;
  letter-spacing: 5px;
  }

    .testimonials__container{
      margin: 58px 165px;
      @include md{
        margin: 0 auto;
      }
      @include lg{
        margin: 0 auto;
       }
  
      .testimonials__list{
        @include md {
          display: flex;
          flex-direction: column;
          justify-content: center;
          
        }
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 81px;
        justify-content: center;

        .testimonial__space{
          @include md {
          margin-bottom: 45px;
          }
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .testimonial__img{
            width: 72px;
            height: 72px;
            border-radius: 50%;
          }

          .testimonial__txt{
            @include md {
              margin: 20px 10px;
              width: 350px;
            }
          font-family: $fuente1;
          font-weight: 600;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          color:$testimonialText;
          margin-top: 58px;
          margin-right: 30px;
        }
        .testimonial__name{
          @include md{
            margin-top: 30px;
          }
          font-family: $fuente2;
          font-weight: 900;
          font-size: 18px;
          line-height: 22.19px;
          text-align: center;
          margin-bottom: 9px;
          margin-top: 69px;
          color: $names;
         
        }
        .testimonial__role{
          font-family: $fuente1;
          font-weight: 600;
          font-size: 14px;
          line-height: 25px;
          color: $testimonial;
          text-align: center;
          @include lg{
            margin-bottom: 20px;
          }
        }
       
      }

    }
  }
}